<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Материалы постельного белья</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="/Styles/Style.css" type="text/css" rel="stylesheet">
</head>
    <body>
        <div class="header-container">
            <div class="header-line-container">
                <div>
                    <a th:href="@{/}" class="header-nav-link">
                        <span class="fs-3 fw-bold">MEOLYAMT.WAREHOUSE</span>
                    </a>
                </div>
            </div>
            <div class="header-line-container">
                <div class="header-nav-container">
                    <a th:href="@{/materials}" class="header-nav-link">
                        <div class="header-nav-link-content-container header-nav-link-content-container-select">Материалы постельного белья</div>
                    </a>
                    <a th:href="@{/materials_filler}" class="header-nav-link">
                        <div class="header-nav-link-content-container">Материалы наполнителя</div>
                    </a>
                    <a th:href="@{/materials_cover}" class="header-nav-link">
                        <div class="header-nav-link-content-container">Материалы чехла</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="table-container">
            <div class="table-header-container">
                <form th:method="get" th:action="@{/materials/new}">
                    <div class="index-new-button-container">
                        <input type="submit" value="Добавить" class="btn btn-outline-success">
                    </div>
                </form>
            </div>
            <table class="table table-bordered" style="text-align: center; vertical-align: center;">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th colspan="2">Действия</th>
                </tr>
                </thead>
                <tbody th:each="material : ${materials}">
                <tr>
                    <th><span th:text="${material.getId()}"></span></th>
                    <th><span th:text="${material.getTitle()}"></span></th>
                    <th>
                        <form th:method="get" th:action="@{/materials/{id}/edit(id=${material.getId()})}" th:object="${material}">
                            <input type="submit" value="Редактировать" class="btn btn-outline-warning"/>
                        </form>
                    </th>
                    <th>
                        <form th:method="post" th:action="@{/materials/{id}/delete(id=${material.getId()})}" th:object="${material}">
                            <input type="submit" value="Удалить" class="btn btn-outline-danger"/>
                        </form>
                    </th>
                </tr>
                </tbody>
            </table>
            <span data-th-text="${count}"></span>
            <span data-th-text="${error}" class="error"></span>
        </div>
    </body>
</html>
