<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Постельное белье</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="/Styles/Style.css" type="text/css" rel="stylesheet">
</head>
    <body>
        <div class="header-container">
            <div class="header-line-container">
                <div>
                    <a th:href="@{/}" class="header-nav-link">
                        <span class="fs-3 fw-bold">MEOLYAMT.WAREHOUSE</span>
                    </a>
                </div>
            </div>
            <div class="header-line-container">
                <div class="header-nav-container">
                    <a th:href="@{/bed_linens}" class="header-nav-link">
                        <div class="header-nav-link-content-container header-nav-link-content-container-select">Постельное белье</div>
                    </a>
                    <a th:href="@{/blankets}" class="header-nav-link">
                        <div class="header-nav-link-content-container">Одеяла</div>
                    </a>
                    <a th:href="@{/pillows}" class="header-nav-link">
                        <div class="header-nav-link-content-container">Подушки</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="table-container">
            <div class="table-header-container">
                <form th:method="get" th:action="@{/bed_linens/new}">
                    <div class="index-new-button-container">
                        <input type="submit" value="Добавить" class="btn btn-outline-success">
                    </div>
                </form>
                <form th:method="get" th:action="@{/bed_linens}" class="search-form-container">
                    <input type="text" name="title" placeholder="Поиск" class="form-control search-form-input"/>
                    <input type="submit" value="Найти" class="btn btn-outline-primary">
                </form>
            </div>
            <table class="table table-bordered" style="text-align: center; vertical-align: center">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Артикул</th>
                        <th>Название</th>
                        <th>Материал</th>
                        <th>Цвет</th>
                        <th colspan="2">Действия</th>
                    </tr>
                </thead>
                <tbody th:each="bedLinen : ${bed_linens}">
                    <tr>
                        <th><span th:text="${bedLinen.getId()}"></span></th>
                        <th><span th:text="${bedLinen.getArticle()}"></span></th>
                        <th><span th:text="${bedLinen.getTitle()}"></span></th>
                        <th><span th:text="${bedLinen.getMaterial().getTitle()}"></span></th>
                        <th><span th:text="${bedLinen.getColor()}"></span></th>
                        <th>
                            <form th:method="get" th:action="@{/bed_linens/{id}/edit(id=${bedLinen.getId()})}" th:object="${bedLinen}">
                                <input type="submit" value="Редактировать" class="btn btn-outline-warning"/>
                            </form>
                        </th>
                        <th>
                            <form th:method="post" th:action="@{/bed_linens/{id}/delete(id=${bedLinen.getId()})}" th:object="${bedLinen}">
                                <input type="submit" value="Удалить" class="btn btn-outline-danger"/>
                            </form>
                        </th>
                    </tr>
                </tbody>
            </table>
            <span data-th-text="${count}"></span>
        </div>
    </body>
</html>
